/* You can add global styles to this file, and also import other style files */
@import './styles/mixins';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.section-title{ margin: 0 0 8px; @include setFontCSW($blue, 18px, normal)}
.form-description { margin: 0 0 20px; @include setFontCSW($grey, 14px, normal)}
